{% extends "index.html.twig" %}

{% block content %}
    <div id="booking">
        <section class="jumbotron">
            <h1>À deux clicks d'être coaché par {{ coach.login }}</h1>
        </section>
        <section class="content">
            <h2 class="text-center">Ses disponibilités pour le {{ days[availability.startArray.wday] }} {{ availability.startArray.mday }} {{ months[availability.startArray.mon] }}</h2>
            
            <form action="http://localhost:8888/theLag/?action=payment" method="post">
                <input name="idAvailability" type="hidden" value="{{ availability.idavailabilities }}">
                <div class="form-item-container">
                    {% for i in availability.startArray.hours .. availability.endArray.hours-1 %}
                        <label for="availabilityBegin{{i}}" class="form-item">
                            <input type="checkbox" name="availabilityBegin{{i}}" id="availabilityBegin{{i}}" value="{{i}}">
                             {{i}}h - {{i+1}}h
                        </label>
                    {% endfor %}
                </div>
                <div class="form-button-container text-center">
                    <button type="submit">Submit</button>
                </div>
            </form>

        </section>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}