{% extends "index.html.twig" %}

{% block content %}
    <div id="availabilities">
        <section>
            <h1>Trouve un créneau qui te convient</h1>
        </section><br><br>

        <form action="" method="get">

            <input name="action" type="hidden" value="availabilities">

            <select name="day" id="day">
                {% for day in days %}
                    {% if nowDate["mday"] == day %}
                        <option value="{{ day }}" selected>{{ day }}</option>
                    {% else %}
                        <option value="{{ day }}">{{ day }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <select name="month" id="month">
                {% for month in months %}
                    {% if nowDate["mon"] == month %}
                        <option value="{{ month }}" selected>{{ month }}</option>
                    {% else %}
                        <option value="{{ month }}">{{ month }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <select name="year" id="year">
                {% for year in years %}
                    {% if nowDate["year"] == year %}
                        <option value="{{ year }}" selected>{{ year }}</option>
                    {% else %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="submit"> Submit </button>
        </form>

        {% for availability in allAvailabilities %}
        <a href="./?action=booking&id={{availability.idavailabilities}}">
            <div class="case">
            {{availability.start}}<br>
            {{availability.end}}<br>
            {{availability.user.firstname}}
        </div></a>


        {% endfor %}
    <div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
